.lunk {
    @apply cursor-pointer;
}
.forward {
    @apply border my-10 bg-[#040819] relative;
    svg {
        @apply stroke-gray-500 group-hover:stroke-gray-200;
    }
    span {
        @apply text-white text-2xl absolute top-1/2 text-center w-full;
    }
}

.inner-blog {


    img {
        width: 100%;
        border-radius: 10px;
    }


    a {
      text-decoration: none;
      @apply underline decoration-dashed decoration-gray-400 underline-offset-8 hover:decoration-solid;
    }
    blockquote {
      @apply px-5 pt-5 text-gray-600 ml-0 mb-5 border-y italic;
    }
    p,
    a,
    th,
    td,
    table,
    ul {
      @apply mb-5 leading-7;
    }

    ol {
      @apply list-inside list-decimal;
    }

    li {
      @apply mb-2;
    }
    // h2,
    // h3 {
    //   @apply text-xl font-bold
    // }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-lg font-medium mt-8 mb-2 ;
    }
    table {
      @apply w-full;


      th {
        @apply text-gray-400 font-normal bg-gray-50;
      }

      td, th {
        @apply border text-sm px-2 tabular-nums;
      }

      tr:nth-child(even) {
        @apply bg-gray-50
      }
    }
  }